.row {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.row > span,
.row > div {
  flex-basis: 30%;
}

.Questions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.answers p {
  margin-top: 0;
}
@media all and (max-width: 599px) {
  .row {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
}
