.Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid gray;
  padding: 60px 50px;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.Links {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-bottom: 30px;
}

.Links a {
  color: #000;
  font-size: 14px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.info div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 45%;
}
.info div:nth-child(2) {
  align-items: flex-end;
}
.info img {
  width: 90%;
}
.info img,
.info span {
  margin-bottom: 20px;
}

.copyright {
  text-align: center;
  font-size: 16px;
}

.Links  .selected {
  color: gray;
  pointer-events: none;
}

@media all and (max-width: 650px) {
  .Container {
   width: 100%;
   padding: 20px;
  }
}

@media all and (max-width: 650px) {
    .Links{
      flex-direction: column;
    }
    .Links a{
      margin-bottom: 5px;
    }
    .info{
      flex-direction: column;
    }
    .info div:nth-child(2) {
      align-items: flex-start;
    }
}